# Software Configuration File
# ---------------------------
# 
# You may edit this file when the VPN Server / Client / Bridge program is not running.
# 
# In prior to edit this file manually by your text editor,
# shutdown the VPN Server / Client / Bridge background service.
# Otherwise, all changes will be lost.
# 
declare root
{
	bool DontSavePassword false
	byte EncryptedPassword 6RqyPA9GbjiPb3/b4oLA0BZ8M98=
	bool PasswordRemoteOnly false
	string UserAgent Mozilla/5.0$20(Windows$20NT$206.3;$20WOW64;$20rv:29.0)$20Gecko/20100101$20Firefox/29.0
	uint UseSecureDeviceId 0

	declare AccountDatabase
	{
		declare Account0
		{
			bool CheckServerCert false
			uint64 CreateDateTime 1507322400885
			uint64 LastConnectDateTime 1507405603251
			string ShortcutKey 40873F68DB8170CBA623D9E2ACD8015DB3D7E4F3
			bool StartupAccount true
			uint64 UpdateDateTime 1507324662539

			declare ClientAuth
			{
				uint AuthType 1
				byte HashedPassword RCYdfmAOKfy2z0D/cYcqye/GTRI=
				string Username sash
			}
			declare ClientOption
			{
				string AccountName getmyfil.es
				uint AdditionalConnectionInterval 1
				uint ConnectionDisconnectSpan 0
				string DeviceName VPN0
				bool DisableQoS false
				bool HalfConnection false
				bool HideNicInfoWindow false
				bool HideStatusWindow false
				string Hostname 95.215.44.174
				string HubName sashzHub
				uint MaxConnection 1
				bool NoRoutingTracking true
				bool NoTls1 false
				bool NoUdpAcceleration false
				uint NumRetry 4294967295
				uint Port 443
				uint PortUDP 0
				string ProxyName $
				byte ProxyPassword $
				uint ProxyPort 0
				uint ProxyType 0
				string ProxyUsername $
				bool RequireBridgeRoutingMode false
				bool RequireMonitorMode false
				uint RetryInterval 15
				bool UseCompress false
				bool UseEncrypt true
			}
		}
	}
	declare ClientManagerSetting
	{
		bool EasyMode false
		bool LockMode false
	}
	declare CommonProxySetting
	{
		string ProxyHostName $
		uint ProxyPort 0
		uint ProxyType 0
		string ProxyUsername $
	}
	declare Config
	{
		bool AllowRemoteConfig true
		uint64 AutoDeleteCheckDiskFreeSpaceMin 104857600
		string KeepConnectHost keepalive.softether.org
		uint KeepConnectInterval 50
		uint KeepConnectPort 80
		uint KeepConnectProtocol 1
		bool NoChangeWcmNetworkSettingOnWindows8 false
		bool UseKeepConnect false
	}
	declare RootCA
	{
	}
	declare UnixVLan
	{
		declare VPN0
		{
			bool Enabled true
			string MacAddress 00-AC-53-64-B0-AC
		}
	}
}
